<!-- Start Container-->
<div class="container">
    <!-- row -->
    <div class="row">
    <!-- =========================================
                   SIDEBAR
    ==========================================-->
        <!-- Start Sidebar -->
        <aside class="col l4 m12 s12 sidebar z-depth-1" id="sidebar">
            <!--  Sidebar row -->
            {{> pages/sidebar }}

        </aside><!-- end sidebar -->

        <!-- =========================================
           Work experiences
        ==========================================-->

        <section class="col s12 m12 l8 section">
          <div class="section-wrapper z-depth-1">
                          <div class="section-icon col s12 m12 l2">
                              <i class="fa fa-paper-plane-o"></i>
                          </div>
                          <div class="col s12 m12 l10 wow fadeIn a1 animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">

                              <h2>Contact</h2>
                              <div class="contact-form" id="contact">
                                  <div class="row">

                                      <form action='/contact', name='contact', id='contact', method='post'>
                                          <div id="msgSubmit" class="h3 text-center hidden"></div>
                                          <div class="input-field col s12">
                                              <label for="name" class="h4">Name *</label>
                                              <input type="text" name="sender_name" class="form-control validate" id="name" required="" data-error="NEW ERROR MESSAGE">
                                          </div>
                                          <div class="input-field col s12">
                                              <label for="email" class="h4">Email *</label>
                                              <input type="email" name="sender_email" class="form-control validate" id="email" required="">
                                          </div>
                                          <div class="input-field col s12">
                                              <label for="message" class="h4">Message *</label>
                                              <textarea id="message" name="sender_message" class="form-control materialize-textarea validate" required=""></textarea>
                                          </div>
                                          <button type="submit" id="form-submit" class="btn btn-success">Submit</button>
                                          <div class="clearfix"></div>
                                      </form>
                                  </div>
                              </div>
                          </div>
                       </div>
                       <div class="clear"></div>
                         {{> pages/footer }}
        </section><!-- end section -->

    </div> <!-- end row -->
</div>  <!-- end container -->
