<!-- Start Container-->
<div class="container">
    <!-- row -->
    <div class="row">
    <!-- =========================================
                   SIDEBAR
    ==========================================-->
        <!-- Start Sidebar -->
        <aside class="col l4 m12 s12 sidebar z-depth-1" id="sidebar">
            <!--  Sidebar row -->
            {{> pages/sidebar }}

        </aside><!-- end sidebar -->

        <!-- =========================================
           Work experiences
        ==========================================-->

        <section class="col s12 m12 l8 section">
          <div class="cover-latter z-depth-1">
                      <div class="cover-title">
                          <span>20 January 2015</span>
                          <h2>Mr. Jonathon</h2>
                          <p>
                              Human Resource Manager<br>
                              Creative Design Studio <br>
                              45 Wolf Street - NYSD34K
                          </p>
                      </div>
                      <h4 class="cover-title">Dear Sir/Madam</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce urna velit, lacinia ac mauris in, dictum tristique dolor.
                      Maecenas porttitor, elit a auctor tempor, libero nulla congue mi, et tempus nisl est ac orci. Cras faucibus sodales risus a
                      consectetur. Sed tristique vitae quam a tincidunt. libero nulla congue mi, et tempus nisl est ac orci. Cras faucibus sodales
                      risus a consectetur. Sed tristique vitae quam a tincidunt</p>

                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce urna velit, lacinia ac mauris in, dictum tristique dolor.
                      Maecenas porttitor, elit a auctor tempor, libero nulla congue mi, et tempus nisl est ac orci. Cras faucibus sodales risus a
                      consectetur. Sed tristique vitae quam a tincidunt.libero nulla congue mi, et tempus nisl est ac orci. Cras faucibus sodales
                      risus a consectetur. Sed tristique vitae quam a tincidunt</p>

                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce urna velit, lacinia ac mauris in, dictum tristique dolor.
                      Maecenas porttitor, elit a auctor tempor, libero nulla congue mi, et tempus nisl est ac orci. Cras faucibus sodales risus a
                      consectetur. Sed tristique vitae quam a tincidunt</p>
                      <div class="cover-title">
                          <p>Your Sincerely</p>
                      </div>
                      <div class="signature">
                          <img src="assets/images/sig.png" alt="" class="img-responsive">
                          <h4>Al Rayhan</h4>
                          <h5> UI &amp; UX Designer </h5>
                          <span>Sylhet, Bangladesh</span>
                      </div>
                  </div>
                  <div class="clear"></div>
                    {{> pages/footer }}
        </section><!-- end section -->

    </div> <!-- end row -->
</div>  <!-- end container -->
