<script>
var d = new Date();
d.setDate(d.getDate() + 50);
document.getElementById("cd").innerHTML = d;
</script>
<!-- Start Container-->
<div class="container">
    <!-- row -->
    <div class="row">
    <!-- =========================================
                   SIDEBAR
    ==========================================-->
        <!-- Start Sidebar -->
        <aside class="col l4 m12 s12 sidebar z-depth-1" id="sidebar">
            <!--  Sidebar row -->
            {{> pages/sidebar }}

        </aside><!-- end sidebar -->

        <!-- =========================================
           Work experiences
        ==========================================-->

        <section class="col s12 m12 l8 section">
          <div class="cover-latter z-depth-1">
                      <div class="cover-title">
                          <p id = "cd"></p>
                          <h2>Mr. Jonathon</h2>
                          <p>
                              Human Resource Manager<br>
                              Creative Design Studio <br>
                              45 Wolf Street - NYSD34K
                          </p>
                      </div>
                      <h4 class="cover-title">Dear Sir/Madam:</h4>
                      <p>Are you searching for a software engineer with a proven ability to develop high-performance applications and technical innovations? If so, please consider my enclosed resume.</p>
                      <p>Since 2002, I have served as a software engineer for Action Company, where I have been repeatedly recognized for developing innovative solutions for multimillion-dollar, globally deployed software and systems. I am responsible for full lifecycle development of next-generation software, from initial requirement gathering to design, coding, testing, documentation and implementation.</p>
                      <p>Known for excellent client-facing skills, I have participated in proposals and presentations that have landed six-figure contracts. I also excel in merging business and user needs into high-quality, cost-effective design solutions while keeping within budgetary constraints.</p>
                      <p>My technical expertise includes cross-platform proficiency (Windows, Unix, Linux and VxWorks); fluency in 13 scripting/programming languages (including C, C++, VB, Java, Perl and SQL); and advanced knowledge of developer applications, tools, methodologies and best practices (including OOD, client/server architecture and self-test automation).</p>
                      <p>My experience developing user-friendly solutions on time and on budget would enable me to step into a software engineering role at XYZ Company and hit the ground running. I will follow up with you next week, and you may reach me at (215) 555-5555. I look forward to speaking with you.</p>
                      <div class="cover-title">
                          <p>Your Sincerely</p>
                      </div>
                      <div class="signature">
                          <img src="assets/images/sig.png" alt="" class="img-responsive">
                          <h4>HILARIO B. VILLAR</h4>
                          <h5> Full Stack Developer </h5>
                          <span>Doha, Qatar</span>
                      </div>
                  </div>
                  <div class="clear"></div>
                    {{> pages/footer }}
        </section><!-- end section -->

    </div> <!-- end row -->
</div>  <!-- end container -->
