<!-- Start Container-->
<div class="container">
    <!-- row -->
    <div class="row">
    <!-- =========================================
                   SIDEBAR
    ==========================================-->
        <!-- Start Sidebar -->
        <aside class="col l4 m12 s12 sidebar z-depth-1" id="sidebar">
            <!--  Sidebar row -->
            {{> pages/sidebar }}

        </aside><!-- end sidebar -->

        <!-- =========================================
           Work experiences
        ==========================================-->

        <section class="col s12 m12 l8 section">
          <div class="row">
              <div class="section-wrapper z-depth-1">
                  <div class="section-icon col s12 m12 l2">
                      <i class="fa fa-gears"></i>
                  </div>
                  <div class="custom-content col s12 m12 l10 wow fadeIn a1 animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                      <h2>Expertise</h2>

                      <div class="custom-content-wrapper wow fadeIn a2 animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                          <h3>HTML/CSS</h3>
                          <span>HTML5, CSS3, Bootstrap, Semantic, Foundation, Material/Materializecss, Less, Sass</span>
                          <p></p>
                      </div>
                      <div class="custom-content-wrapper wow fadeIn a2 animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                          <h3>Javascript</h3>
                          <span>Angular, Express, Vue, React, Ractive, MEAN, jQuery</span>
                          <p></p>
                      </div>
                      <div class="custom-content-wrapper wow fadeIn a2 animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                          <h3>Back-End Language</h3>
                          <span>Node.js, Python, Php, Ruby, Java, Scala</span>
                          <p></p>
                      </div>
                      <div class="custom-content-wrapper wow fadeIn a2 animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                          <h3>Database & Web Storage</h3>
                          <span>PostgreSql, SQL Server, Oracle, Mysql, MongoDB, SQlite</span>
                          <p></p>
                      </div>
                      <div class="custom-content-wrapper wow fadeIn a2 animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                          <h3>HTTP & REST</h3>
                          <span>Http protocol, WebSocket, RESTfull API POST/GET request, Chrome DevTools, SSL Certificates.</span>
                          <p></p>

                      </div>
                      <div class="custom-content-wrapper wow fadeIn a2 animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                          <h3>Web Application Architecture</h3>
                          <span>MVC, CRUD, Openshift, Heroku</span>
                          <p></p>
                      </div>
                      <div class="custom-content-wrapper wow fadeIn a2 animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                          <h3>Version Control System</h3>
                          <span>Git, Github</span>
                          <p></p>
                      </div>
                      <div class="custom-content-wrapper wow fadeIn a2 animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                          <h3>Basic Algorithm & Data Structure </h3>
                          <span>Hash tables, Object, Class, Array, Caching, Binary, Queues, Stacks</span>
                          <p></p>
                      </div>
                      <div class="custom-content-wrapper wow fadeIn a2 animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                          <h3>Web Server </h3>
                          <span>Apache, nginx, IIS</span>
                          <p></p>
                      </div>
                      <div class="custom-content-wrapper wow fadeIn a2 animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                          <h3>Operating System </h3>
                          <span>Debian, Elementary, Ubuntu, Redhat, Fedora, Windows Server 2012, Windows 7,8,10</span>
                          <p></p>
                      </div>

                  </div>
              </div>



              {{> pages/footer }}
          </div><!-- end row -->

        </section><!-- end section -->
    </div> <!-- end row -->
</div>  <!-- end container -->
