<!-- Start Container-->
<div class="container">
    <!-- row -->
    <div class="row">
    <!-- =========================================
                   SIDEBAR
    ==========================================-->
        <!-- Start Sidebar -->
        <aside class="col l4 m12 s12 sidebar z-depth-1" id="sidebar">
            <!--  Sidebar row -->
            {{> pages/sidebar }}

        </aside><!-- end sidebar -->

        <!-- =========================================
           Work experiences
        ==========================================-->

        <section class="col s12 m12 l8 section"> <!-- Blog section start -->
                            <div class="row">
                                <div class="blog">
                                    <div class="col s12 m12 l6 blog-post">
                                        <div class="thumbnail z-depth-1 animated">
                                            <a href="blog-full-post.html"><img src="assets/images/blog1.jpg" alt="" class="responsive-img"></a>
                                            <div class="blog-details">
                                                <div class="post-title" id="blog-post-1">
                                                    <a href="blog-full-post.html">
                                                        <h2>Website Design</h2>
                                                        <span>branding, ui-ux, article</span>
                                                    </a>
                                                </div>
                                                <div class="post-details">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare arcu ac velit
                                                    ltricies fermentum. Aliquam congue augue a ullamcorper finibus.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 m12 l6 blog-post">
                                        <div class="thumbnail z-depth-1">
                                            <a href="blog-full-post.html"><img src="assets/images/blog2.jpg" alt="" class="responsive-img"></a>
                                            <div class="blog-details">
                                                <div class="post-title" id="blog-post-2">
                                                    <a href="blog-full-post.html">
                                                        <h2>Website Redesign</h2>
                                                        <span>branding, ui-ux, article</span>
                                                    </a>
                                                </div>
                                                <div class="post-details">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare arcu ac velit ultricies fermentum. Aliquam congue augue a ullamcorper finibus.</p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare arcu ac velit ultricies fermentum. Aliquam congue augue a ullamcorper finibus.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 m12 l6 blog-post">
                                        <div class="thumbnail z-depth-1">
                                            <a href="blog-full-post.html"><img src="assets/images/blog4.jpg" alt="" class="responsive-img"></a>
                                            <div class="blog-details">
                                                <div class="post-title" id="blog-post-3">
                                                    <a href="blog-full-post.html">
                                                        <h2>Music Player Design</h2>
                                                        <span>branding, ui-ux, article</span>
                                                    </a>
                                                </div>
                                                <div class="post-details">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare arcu ac velit ultricies fermentum. Aliquam congue augue a ullamcorper finibus.</p>

                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare arcu ac velit ultricies fermentum. Aliquam congue augue a ullamcorper finibus.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 m12 l6 blog-post">
                                        <div class="thumbnail z-depth-1">
                                            <a href="blog-full-post.html"><img src="assets/images/blog5.jpg" alt="" class="responsive-img"></a>
                                            <div class="blog-details">
                                                <div class="post-title" id="blog-post-4">
                                                    <a href="blog-full-post.html">
                                                        <h2>Marketing Partner</h2>
                                                        <span>branding, ui-ux, article</span>
                                                    </a>
                                                </div>
                                                <div class="post-details">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare arcu ac velit ultricies fermentum. Aliquam congue augue a ullamcorper finibus.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 m12 l12 blog-post">
                                        <div class="row">
                                            <div class="thumbnail z-depth-1">
                                                <div class="featured-img col m12 s12 l6 " id="featured" style="height: 310px;">
                                                    <a href="blog-full-post.html"><img src="assets/images/bb3.jpg" alt="" class="responsive-img z-depth-1" style="height: 310px;"></a>
                                                </div>
                                                <div class="caption col m12 s12 l6" id="caption">
                                                    <div class="post-details z-depth-1">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare arcu ac velit ultricies fermentum. Aliquam congue augue a ullamcorper finibus.
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ornare arcu ac velit ultricies fermentum.</p>
                                                    </div>
                                                    <div class="post-title z-depth-1" id="blog-post-5">
                                                        <a href="blog-full-post.html">
                                                            <h2>Website Development</h2>
                                                            <span>branding, ui-ux, article</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               <!-- =========================================
                                  footer Website
                                ==========================================-->
                                <div class="clear"></div>
                                  {{> pages/footer }}
                            </div>
                        <!-- end row -->

                        </section>

    </div> <!-- end row -->
</div>  <!-- end container -->
