<!-- Start Container-->
<div class="container">
    <!-- row -->
    <div class="row">
    <!-- =========================================
                   SIDEBAR
    ==========================================-->
        <!-- Start Sidebar -->
        <aside class="col l4 m12 s12 sidebar z-depth-1" id="sidebar">
            <!--  Sidebar row -->
            <div class="row">
                <!--  top section   -->
                <div class="heading">
                    <!-- ====================
                              IMAGE
                    ==========================-->
                    <div class="feature-img">
                        <a href="index.html"><img src="images/20140420_141216.jpg" class="responsive-img" alt=""></a>
                    </div>
                    <!-- =========================================
                               NAVIGATION
                    ==========================================-->

                    <div class=" nav-icon">
                        <nav>
                            <div class="nav-wrapper">
                              <ul class="side-nav" id="mobile-demo">
                                <li><a href="#">Cover Letter</a></li>
                                <li><a href="#">Resume</a></li>
                                <li><a href="#">Expertise</a></li>
                                <li><a href="#">Projects</a></li>
                                <li><a href="#">Contact</a></li>
                              </ul>
                              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                            </div>
                        </nav>
                    </div>
                    <!-- ========================================
                               NAME AND TAGLINE
                    ==========================================-->
                    <div class="title col s12 m12 l9 right  wow fadeIn animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                        <h2>HILARIO VILLAR</h2> <!-- title name -->
                        <span>Full-Stack Developer</span>  <!-- tagline -->
                    </div>
                </div>
                 <!-- sidebar info -->
                <div class="col l12 m12 s12 sort-info sidebar-item">
                    <div class="row">
                        <div class="col m12 s12 l3 icon"> <!-- icon -->
                           <i class="fa fa-user"></i>
                        </div>
                        <div class="col m12 s12 l9 info wow fadeIn a1 animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;"> <!-- text -->
                            <div class="section-item-details">
                                <p>Hi, I'm a full-stack developer specialized in php, python and nodejs from front-end to back-end. Knoledgeable in all steps from concept to finished product; proficient in server, network, and hosting environment, relational and nonrelational database
                                knowledgeable how to interact with APIs and the external world, user interface and user experience, quality assurance, security concerns throughout the program, understanding customer and business needs.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- MOBILE NUMBER -->
                <div class="col l12 m12 s12  mobile sidebar-item">
                    <div class="row">
                        <div class="col m12 s12 l3 icon">
                            <i class="fa fa-phone"></i> <!-- icon -->
                        </div>
                        <div class="col m12 s12 l9 info wow fadeIn a2 animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                            <div class="section-item-details">
                                <div class="personal">
                                    <h4><a href="tel:555-555-5555">(974)-33669071</a></h4> <!-- Number -->
                                    <span>mobile</span>
                                </div>
                                <div class="work">
                                    <h4><a href="tel:555-555-5555">(121)-323-3494</a></h4> <!-- Number -->
                                    <span>work</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  EMAIL -->
                <div class="col l12 m12 s12  email sidebar-item ">
                    <div class="row">
                        <div class="col m12 s12 l3 icon">
                            <i class="fa fa-envelope"></i> <!-- icon -->
                        </div>
                        <div class="col m12 s12 l9 info wow fadeIn a3 animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                            <div class="section-item-details">
                                <div class="personal">
                                    <h4><a href="mailto:someone@example.com">tribo.ni.eila@gmail.com</a></h4> <!-- Email -->
                                    <span>personal</span>
                                </div>
                                <div class="work">
                                    <h4><a href="mailto:someone@example.com">hilario.it@darwish-tgd.qa</a></h4> <!-- Email -->
                                    <span>work</span> <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ADDRESS  -->
                <div class="col l12 m12 s12  address sidebar-item ">
                    <div class="row">
                        <div class="col l3 m12  s12 icon">
                            <i class="fa fa-home"></i> <!-- icon -->
                        </div>
                        <div class="col m12 s12 l9 info wow fadeIn a4 animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                            <div class="section-item-details">
                                <div class="address-details"> <!-- address  -->
                                    <h4>#86 Abu Hamour<br>
                                    Doha, Qatar.<br>
                                    <span>current</span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SKILLS -->
                <div class="col l12 m12 s12  skills sidebar-item">
                    <div class="row">
                        <div class="col m12 l3 s12 icon">
                            <i class="fa fa-calendar-o"></i> <!-- icon -->
                        </div>
                         <!-- Skills -->
                        <div class="col m12 l9 s12 skill-line a5 wow fadeIn animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
                            <h3>Professional Skills </h3>
                            <span>Adobe Photoshop</span>
                              <div class="progress">
                                  <div class="determinate" style="width: 70%;"></div>
                              </div>

                            <span>HTML</span>
                            <div class="progress">
                                <div class="determinate" style="width: 95%;"><i class="fa fa-circle"></i></div>
                            </div>

                            <span>CSS</span>
                            <div class="progress">
                                <div class="determinate" style="width: 90%;"><i class="fa fa-circle"></i></div>
                            </div>

                            <span>Javascript</span>
                            <div class="progress">
                                <div class="determinate" style="width: 85%;"><i class="fa fa-circle"></i></div>
                            </div>

                            <span>PHP</span>
                            <div class="progress">
                                <div class="determinate" style="width: 70%;"><i class="fa fa-circle"></i></div>
                            </div>

                            <span>JAVA</span>
                            <div class="progress">
                                <div class="determinate" style="width: 55%;"><i class="fa fa-circle"></i></div>
                            </div>

                            <span>SQL</span>
                            <div class="progress">
                                <div class="determinate" style="width: 40%;"><i class="fa fa-circle"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   <!-- end row -->
        </aside><!-- end sidebar -->

        <!-- =========================================
           Work experiences
        ==========================================-->

        <section class="col s12 m12 l8 section">
            <div class="row">
                <div class="section-wrapper z-depth-1">
                    <div class="section-icon col s12 m12 l2">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="custom-content col s12 m12 l10 wow fadeIn a1 animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                        <h2>Work Experience</h2>

                        <div class="custom-content-wrapper wow fadeIn a2 animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                            <h3>Computer Programmer <span> @Gulf Automobiles & Trading Company</span></h3>
                            <span>Oct 2012 - Present </span>
                            <p>Designs and develops software systems, using structured methods of Software Development life cycle.
Performs the technical assignment to completion according to the specifications supplied by the IT manager.
Addresses and resolves technical problems.
Provides support and technical expertise to other hardware and software related issues.
Performs other jobs related duties as required.
Understand user requirement, System analysis, database design to store information, coding and implementation of programs, testing of programs, debug of system, and deploy the system to users.
Website maintenance, troubleshooting and updating the latest contents. Brainstorm on features finalize on the contents to be implemented, code and design the web pages, testing of the entire website, deploying of website to the Internet.
</p>
                        </div>
                        <div class="custom-content-wrapper wow fadeIn a3 animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                            <h3>Web Developer <span> @Freelance</span></h3>
                            <span>JAN 2011 - DEC 2012 </span>
                            <p>Creates and re-create existing websites suited to various clienteles.
Web design and development.
Search engine optimization.
Uses programming languages.</p>
                        </div>
                        <div class="custom-content-wrapper wow fadeIn a4 animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                            <h3>Proprietor <span> @Screaming Tribe Computer Sales & Services</span></h3>
                            <span>JAN 2009 - OCT 2012 </span>
                            <p>Plan the activities of the business.
Manages its income and performs marketing task.
Perform business transactions, such as accepting payment for goods or services.
Monitor inventory of supplies at hand.
Sells computer parts.
Provide services to clients who seek technical troubleshooting.  </p>
                        </div>
                        <div class="custom-content-wrapper wow fadeIn a4 animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                            <h3>IT Instructor <span> @Philippine Computer Foundation College</span></h3>
                            <span>JUN 2008 - MAR 2009 </span>
                            <p>Monitor the behavior of students in the academic setting in terms of absenteeism, tardiness and discipline.
Submit a course outline that explains how the instructor will implement the course goal and objectives.
Attend a faculty meeting one to two days prior to the start of the program.
Prepare syllabus for each subject.
Comply with the learning plan developed from the required curriculum of the course.
Provide learning incentives and motivation programs to encourage students to participate more actively in classroom work as well as extracurricular activities. </p>
                        </div>
                        <div class="custom-content-wrapper wow fadeIn a4 animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                            <h3>IT Instructor/Academic Affairs Coordinator <span> @Computer Communication Development Insitute - Goa Campus</span></h3>
                            <span>JUN 2000 - MAR 2010 </span>
                            <p>Coordinates faculty review and selection of textbooks.
Recommends the purchase of library acquisitions.
Develop and monitor curriculum and course schedules.
Prepare academic documents for TESDA requirements.
Reviewing admission applicants and maintaining administrative records related to the students.
Administering the cognitive assessments and creating individualized programs
Training and supporting the teaching staff on daily and an ongoing basis
Coordinating the different departments of the institute in order to ensure that educational department receives the support needed to work effectively.</p>
                        </div>
                        <div class="custom-content-wrapper wow fadeIn a4 animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                            <h3>IT Instructor <span> @Computer Communication Development Insitute - Naga Campus</span></h3>
                            <span>JUN 1999 - MAR 2010 </span>
                            <p>Implement instructional activities that contribute to a climate where students are actively engaged in meaningful learning experiences. 
Identifies, selects, and modifies instructional resources to meet the needs of the students with varying backgrounds, learning styles, and special needs.
Provides a positive environment in which students are encouraged to be actively engaged in the learning process.
Communicates effectively, both orally and in writing, with students, parents, and other professionals on a regular basis.
Organizes and participates in training and presentations about online teaching.
Meets professional obligations through efficient work habits such as: meeting deadlines, honoring schedules, coordinating.  </p>
                        </div>
                        <div class="custom-content-wrapper wow fadeIn a4 animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                            <h3>Encoder/Programmer <span> @Camarines Sur II Electric Cooperative</span></h3>
                            <span>JAN 1994 - OCT 1995 </span>
                            <p>Responsible for reading, interpreting and inputting documents, bills, accounts payable and other such documentation.
Compiling, sorting and verifying information.
Storing and/or filing the information. </p>
                        </div>
                    </div>
                </div>

                <!-- ========================================
                 Education
                ==========================================-->

                <div class="section-wrapper z-depth-1">
                    <div class="section-icon col s12 m12 l2">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <div class="custom-content col s12 m12 l10 wow fadeIn a1 animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                        <h2>Education </h2>

                        <div class="custom-content-wrapper wow fadeIn a2 animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                            <h3>Master of Science in Information System (with units) <span>@University of the Philippines Open University</span></h3>
                            <span>JUN 2006 - MAR 2008 </span>
                            <p>The Master in Information System (MIS) program is designed to provide professionals in the IT Industry with advanced training in Information System.
                              The program are expected to be able to:</p>
                              <p>
                                Demonstrate in-depth understanding of technical concepts and ethical issues pertaining to information systems; and
                                Undertake the proper design and implementation of a production-grade information systems.

                            </p>
                        </div>
                        <div class="custom-content-wrapper wow fadeIn a2 animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                            <h3>Methods of Teaching <span>@Ateneo de Naga University</span></h3>
                            <span>JUN 2002 </span>
                            <p>Certificates programs designed for non-education graduates or for teachers teaching not within their fields of specialization to enrich their content and professional knowledge. </p>
                        </div>
                        <div class="custom-content-wrapper wow fadeIn a3 animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                            <h3>Bachelor of Science in Computer Science <span>@Computer Communication Development Institute - Naga City Campus</span></h3>
                            <span>JUN 1995 - MAR 1999 </span>
                            <p>Bachelor of Science in Computer Science (BSCS) is the study of concepts and theories, algorithmic foundation, implementation and application of information and computing solutions. </p>
                        </div>
                        <div class="custom-content-wrapper wow fadeIn a4 animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                            <h3>Computer Programming <span>@Computer Communication Development Institute - Naga City Campus</span></h3>
                            <span>JUN 1994 - MAR 1995 </span>
                            <p>Computer Programming is the study of utilization of computers and computer software to plan, install, customize, operate, manage, administer and maintain information technology infrastructure. </p>
                        </div>
                    </div>
                </div>

                <!-- ========================================
                      Intertests
                ==========================================-->

                <div class="section-wrapper z-depth-1">
                    <div class="section-icon col s12 m12 l2">
                        <i class="fa fa-plane"></i>
                    </div>
                    <div class="interests col s12 m12 l10 wow fadeIn animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                        <h2>Interest </h2>
                        <ul> <!-- interetsr icon start -->
                            <li><i class="fa fa-film tooltipped" data-position="top" data-delay="50" data-tooltip="Movie"></i></li>
                            <li><i class="fa fa-glass tooltipped" data-position="top" data-delay="50" data-tooltip="Drinking"></i></li>
                            <li><i class="fa fa-headphones tooltipped" data-position="top" data-delay="50" data-tooltip="Music"></i></li>
                            <li><i class="fa fa-comments tooltipped" data-position="top" data-delay="50" data-tooltip="Chatting"></i></li>
                            <li><i class="fa fa-coffee tooltipped" data-position="top" data-delay="50" data-tooltip="Coffee"></i></li>
                        </ul> <!-- interetsr icon end -->
                    </div>
                </div>
                <!-- =======================================
                  portfolio Website
                ==========================================-->

                <div class="section-wrapper z-depth-1 wow fadeIn animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                    <div class="col s12 m12 l10 website right">
                        <div class="row">
                            <div class="col s12 m12 l12">
                               <span><a href="http://mycv-hilariobvillar.rhcloud.com">http://mycv-hilariobvillar.rhcloud.com/</a></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col s12 m12 l12">
                                <span><a href="https://github.com/tribonieila">https://github.com/tribonieila</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end row -->
        </section><!-- end section -->
    </div> <!-- end row -->
</div>  <!-- end container -->
