<!-- Start Container-->
<div class="container">
    <!-- row -->
    <div class="row">
    <!-- =========================================
                   SIDEBAR
    ==========================================-->
        <!-- Start Sidebar -->
        <aside class="col l4 m12 s12 sidebar z-depth-1" id="sidebar">
            <!--  Sidebar row -->
            <div class="row">
                <!--  top section   -->
                <div class="heading">
                    <!-- ====================
                              IMAGE
                    ==========================-->
                    <div class="feature-img">
                        <a href="index.html"><img src="images/20140420_141216.jpg" class="responsive-img" alt=""></a>
                    </div>
                    <!-- =========================================
                               NAVIGATION
                    ==========================================-->

                    <div class=" nav-icon">
                        <nav>
                            <div class="nav-wrapper">
                              <ul class="side-nav" id="mobile-demo">
                                <li><a href="#">Resume</a></li>
                                <li><a href="#">Projects</a></li>
                                <li><a href="#">Cover Letter</a></li>
                                <li><a href="#">Contact</a></li>
                              </ul>
                              <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                            </div>
                        </nav>
                    </div>
                    <!-- ========================================
                               NAME AND TAGLINE
                    ==========================================-->
                    <div class="title col s12 m12 l9 right  wow fadeIn animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                        <h2>HILARIO VILLAR</h2> <!-- title name -->
                        <span>Full-Stack Developer</span>  <!-- tagline -->
                    </div>
                </div>
                 <!-- sidebar info -->
                <div class="col l12 m12 s12 sort-info sidebar-item">
                    <div class="row">
                        <div class="col m12 s12 l3 icon"> <!-- icon -->
                           <i class="fa fa-user"></i>
                        </div>
                        <div class="col m12 s12 l9 info wow fadeIn a1 animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;"> <!-- text -->
                            <div class="section-item-details">
                                <p>Hi, I'm a full-stack developer specialized from front-end to back-end. Has a general knowledge in all steps from concept to finished product; proficient in server, network, and hosting environment, relational and nonrelational database
                                knowledgeable how to interact with APIs and the external world, user interface and user experience, quality assurance, security concerns throughout the program, understanding customer and business needs.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- MOBILE NUMBER -->
                <div class="col l12 m12 s12  mobile sidebar-item">
                    <div class="row">
                        <div class="col m12 s12 l3 icon">
                            <i class="fa fa-phone"></i> <!-- icon -->
                        </div>
                        <div class="col m12 s12 l9 info wow fadeIn a2 animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                            <div class="section-item-details">
                                <div class="personal">
                                    <h4><a href="tel:555-555-5555">(974)-33669071</a></h4> <!-- Number -->
                                    <span>mobile</span>
                                </div>
                                <div class="work">
                                    <h4><a href="tel:555-555-5555">(121)-323-3494</a></h4> <!-- Number -->
                                    <span>work</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  EMAIL -->
                <div class="col l12 m12 s12  email sidebar-item ">
                    <div class="row">
                        <div class="col m12 s12 l3 icon">
                            <i class="fa fa-envelope"></i> <!-- icon -->
                        </div>
                        <div class="col m12 s12 l9 info wow fadeIn a3 animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                            <div class="section-item-details">
                                <div class="personal">
                                    <h4><a href="mailto:someone@example.com">tribo.ni.eila@gmail.com</a></h4> <!-- Email -->
                                    <span>personal</span>
                                </div>
                                <div class="work">
                                    <h4><a href="mailto:someone@example.com">hilario.it@darwish-tgd.qa</a></h4> <!-- Email -->
                                    <span>work</span> <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ADDRESS  -->
                <div class="col l12 m12 s12  address sidebar-item ">
                    <div class="row">
                        <div class="col l3 m12  s12 icon">
                            <i class="fa fa-home"></i> <!-- icon -->
                        </div>
                        <div class="col m12 s12 l9 info wow fadeIn a4 animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                            <div class="section-item-details">
                                <div class="address-details"> <!-- address  -->
                                    <h4>#86 Abu Hamour<br>
                                    Doha, Qatar.<br>
                                    <span>current</span></h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SKILLS -->
                <div class="col l12 m12 s12  skills sidebar-item">
                    <div class="row">
                        <div class="col m12 l3 s12 icon">
                            <i class="fa fa-calendar-o"></i> <!-- icon -->
                        </div>
                         <!-- Skills -->
                        <div class="col m12 l9 s12 skill-line a5 wow fadeIn animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
                            <h3>Professional Skills </h3>
                            <span>Adobe Photoshop</span>
                              <div class="progress">
                                  <div class="determinate" style="width: 70%;"></div>
                              </div>

                            <span>HTML</span>
                            <div class="progress">
                                <div class="determinate" style="width: 95%;"><i class="fa fa-circle"></i></div>
                            </div>

                            <span>CSS</span>
                            <div class="progress">
                                <div class="determinate" style="width: 90%;"><i class="fa fa-circle"></i></div>
                            </div>

                            <span>Javascript</span>
                            <div class="progress">
                                <div class="determinate" style="width: 85%;"><i class="fa fa-circle"></i></div>
                            </div>

                            <span>PHP</span>
                            <div class="progress">
                                <div class="determinate" style="width: 70%;"><i class="fa fa-circle"></i></div>
                            </div>

                            <span>JAVA</span>
                            <div class="progress">
                                <div class="determinate" style="width: 55%;"><i class="fa fa-circle"></i></div>
                            </div>

                            <span>SQL</span>
                            <div class="progress">
                                <div class="determinate" style="width: 40%;"><i class="fa fa-circle"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   <!-- end row -->
        </aside><!-- end sidebar -->

        <!-- =========================================
           Work experiences
        ==========================================-->

        <section class="col s12 m12 l8 section">
            <div class="row">
                <div class="section-wrapper z-depth-1">
                    <div class="section-icon col s12 m12 l2">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="custom-content col s12 m12 l10 wow fadeIn a1 animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                        <h2>Work Experience</h2>

                        <div class="custom-content-wrapper wow fadeIn a2 animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                            <h3>Computer Programmer <span> @Gulf Automobiles & Trading Company</span></h3>
                            <span>Oct 2012 - Present </span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. </p>
                        </div>
                        <div class="custom-content-wrapper wow fadeIn a3 animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                            <h3>Web Developer <span> @Freelance</span></h3>
                            <span>JAN 2011 - DEC 2012 </span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua. </p>
                        </div>
                        <div class="custom-content-wrapper wow fadeIn a4 animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                            <h3>Proprietor <span> @Screaming Tribe Computer Sales & Services</span></h3>
                            <span>JAN 2009 - OCT 2012 </span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. </p>
                        </div>
                        <div class="custom-content-wrapper wow fadeIn a4 animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                            <h3>IT Instructor <span> @Philippine Computer Foundation College</span></h3>
                            <span>JUN 2008 - MAR 2009 </span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. </p>
                        </div>
                        <div class="custom-content-wrapper wow fadeIn a4 animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                            <h3>IT Instructor/Academic Affairs Coordinator <span> @Computer Communication Development Insitute - Goa Campus</span></h3>
                            <span>JUN 2000 - MAR 2010 </span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. </p>
                        </div>
                        <div class="custom-content-wrapper wow fadeIn a4 animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                            <h3>IT Instructor <span> @Computer Communication Development Insitute - Naga Campus</span></h3>
                            <span>JUN 1999 - MAR 2010 </span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. </p>
                        </div>
                        <div class="custom-content-wrapper wow fadeIn a4 animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                            <h3>Encoder/Programmer <span> @Camarines Sur II Electric Cooperative</span></h3>
                            <span>JAN 1994 - OCT 1995 </span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                                labore et dolore magna aliqua. </p>
                        </div>
                    </div>
                </div>

                <!-- ========================================
                 Education
                ==========================================-->

                <div class="section-wrapper z-depth-1">
                    <div class="section-icon col s12 m12 l2">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <div class="custom-content col s12 m12 l10 wow fadeIn a1 animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                        <h2>Education </h2>

                        <div class="custom-content-wrapper wow fadeIn a2 animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                            <h3>Master of Science in Information System (with units) <span>@University of the Philippines Open University</span></h3>
                            <span>JAN 2013 - DEC 2013 </span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                        <div class="custom-content-wrapper wow fadeIn a3 animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;">
                            <h3>Post Graduation <span>@Lorem</span></h3>
                            <span>JAN 2013 - DEC 2013 </span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                        <div class="custom-content-wrapper wow fadeIn a4 animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                            <h3>TTMP Degree <span>@Creative School</span></h3>
                            <span>JAN 2013 - DEC 2013 </span>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                        </div>
                    </div>
                </div>

                <!-- ========================================
                      Intertests
                ==========================================-->

                <div class="section-wrapper z-depth-1">
                    <div class="section-icon col s12 m12 l2">
                        <i class="fa fa-plane"></i>
                    </div>
                    <div class="interests col s12 m12 l10 wow fadeIn animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                        <h2>Interestes </h2>
                        <ul> <!-- interetsr icon start -->
                            <li><i class="fa fa-film tooltipped" data-position="top" data-delay="50" data-tooltip="Movie"></i></li>
                            <li><i class="fa fa-glass tooltipped" data-position="top" data-delay="50" data-tooltip="Drinking"></i></li>
                            <li><i class="fa fa-headphones tooltipped" data-position="top" data-delay="50" data-tooltip="Music"></i></li>
                            <li><i class="fa fa-comments tooltipped" data-position="top" data-delay="50" data-tooltip="Chatting"></i></li>
                            <li><i class="fa fa-coffee tooltipped" data-position="top" data-delay="50" data-tooltip="Coffee"></i></li>
                        </ul> <!-- interetsr icon end -->
                    </div>
                </div>
                <!-- =======================================
                  portfolio Website
                ==========================================-->

                <div class="section-wrapper z-depth-1 wow fadeIn animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                    <div class="col s12 m12 l10 website right">
                        <div class="row">
                            <div class="col s12 m12 l12">
                               <span><a href="">http://mycv-hilariobvillar.rhcloud.com/</a></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col s12 m12 l12">
                                <span><a href="">https://github.com/tribonieila</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- end row -->
        </section><!-- end section -->
    </div> <!-- end row -->
</div>  <!-- end container -->
