<!-- Start Container-->
<div class="container">
    <!-- row -->
    <div class="row">
    <!-- =========================================
                   SIDEBAR
    ==========================================-->
        <!-- Start Sidebar -->
        <aside class="col l4 m12 s12 sidebar z-depth-1" id="sidebar">
            <!--  Sidebar row -->
            {{> pages/sidebar }}

        </aside><!-- end sidebar -->

        <!-- =========================================
           Work experiences
        ==========================================-->

        <section class="col s12 m12 l8 section">
          <div class="row">
                      <div class="full-portfolio">
                          <div class="wow fadeIn a1 animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                              <div class="portfolio-nav section-wrapper z-depth-1">
                                  <ul>
                                      <li class="filter active" data-filter="all">Show All</li>
                                      <li class="filter" data-filter=".category-1">Art</li>
                                      <li class="filter" data-filter=".category-2">Icons</li>
                                      <li class="filter" data-filter=".category-4">Materials</li>
                                  </ul>
                              </div>
                              <div id="loader">
                                  <div class="loader-icon"></div>
                              </div>

                              <div class="screenshots" id="portfolio-item">
                                  <div class="row">
                                      <ul class="grid">
                                          <!-- Portfolio one-->
                                          <li class="col m6 s1 2 mix category-1" style="display: inline-block;">
                                              <a href="portfolio-full.html" class="sa-view-project-detail" data-action="#project-one">
                                                  <figure class="more">
                                                  <img src="assets/images/p.jpg" alt="Screenshot 01" class="">
                                                      <figcaption>
                                                          <div class="caption-content">
                                                              <div class="single_image">
                                                                  <h2>Minimal Design</h2>
                                                                  <p>Work hard for what you want because
                                                                  it won't come to you without a fight</p>
                                                              </div>
                                                          </div>
                                                      </figcaption>
                                                  </figure>
                                              </a>
                                    </li>
                                    <!-- Portfolio two-->
                                          <li class="col m6 s12 mix category-2" style="display: inline-block;">
                                              <a href="portfolio-full.html" class="sa-view-project-detail" data-action="#project-two">
                                                  <figure class="more">
                                                      <img src="assets/images/p-1.jpg" alt="Screenshot 01" class="">
                                                      <figcaption>
                                                          <div class="caption-content">
                                                              <div class="single_image">
                                                                  <h2>Lorem Design</h2>
                                                                  <p>Work hard for what you want because
                                                                  it won't come to you without a fight</p>
                                                              </div>
                                                          </div>
                                                      </figcaption>
                                                  </figure>
                                              </a>
                                          </li>
                                          <!-- Portfolio three-->
                                          <li class="col m6 s12 mix category-1" style="display: inline-block;">
                                              <a href="portfolio-full.html" class="sa-view-project-detail" data-action="#project-three">
                                                  <figure class="more">
                                                  <img src="assets/images/p-2.jpg" alt="Screenshot 01" class="">
                                                      <figcaption>
                                                          <div class="caption-content">
                                                              <div class="single_image">
                                                                  <h2>Creative Design</h2>
                                                                  <p>Lorem Ipsum because
                                                                  it won't come to you without a fight</p>
                                                              </div>
                                                          </div>
                                                      </figcaption>
                                                  </figure>
                                              </a>
                                          </li>
                                          <!-- Portfolio four-->
                                          <li class="col m6 s12 mix category-2" style="display: inline-block;">
                                              <a href="portfolio-full.html" class="sa-view-project-detail" data-action="#project-four">
                                                  <figure class="more">
                                                  <img src="assets/images/p-3.jpg" alt="Screenshot 01" class="">
                                                      <figcaption>
                                                          <div class="caption-content">
                                                              <div class="single_image">
                                                                  <h2>Material Design</h2>
                                                                  <p>Work hard for what you want because
                                                                  it won't come to you.</p>
                                                              </div>
                                                          </div>
                                                      </figcaption>
                                                  </figure>
                                              </a>
                                          </li>
                                          <!-- Portfolio five-->
                                          <li class="col m6 s12 mix category-4" style="display: inline-block;">
                                              <a href="portfolio-full.html" class="sa-view-project-detail" data-action="#project-five">
                                                  <figure class="more">
                                                  <img src="assets/images/p-5.jpg" alt="Screenshot 01" class="">
                                                      <figcaption>
                                                          <div class="caption-content">
                                                              <div class="single_image">
                                                                  <h2>Clean Code</h2>
                                                                  <p>You want because
                                                                  it won't come to you without a fight</p>
                                                              </div>
                                                          </div>
                                                      </figcaption>
                                                  </figure>
                                              </a>
                                          </li>
                                          <!-- Portfolio six-->
                                          <li class="col m6 s12 mix category-1" style="display: inline-block;">
                                              <a href="portfolio-full.html" class="sa-view-project-detail" data-action="#project-six">
                                                  <figure class="more">
                                                  <img src="assets/images/p-6.jpg" alt="Screenshot 01" class="">
                                                      <figcaption>
                                                          <div class="caption-content">
                                                              <div class="single_image">
                                                                  <h2>SEO Optimize</h2>
                                                                  <p>Work hard for what you want because
                                                                  it won't come to you without a fight</p>
                                                              </div>
                                                          </div>
                                                      </figcaption>
                                                  </figure>
                                              </a>
                                          </li>
                                          <!-- Portfolio seven-->
                                          <li class="col m6 s12 l6 mix category-2" style="display: inline-block;">
                                              <a href="project.html" class="sa-view-project-detail" data-action="#project-seven">
                                                  <figure class="more">
                                                  <img src="assets/images/p-7.jpg" alt="Screenshot">
                                                      <figcaption>
                                                          <div class="caption-content">
                                                              <div class="single_image">
                                                                  <h2>Responsive Design</h2>
                                                                  <p>Work hard for what you want because
                                                                  it won't come to you without a fight</p>
                                                              </div>
                                                          </div>
                                                      </figcaption>
                                                  </figure>
                                              </a>
                                          </li>
                                          <!-- Portfolio eight-->
                                          <li class="col m6 s12 l6 mix category-3" style="display: inline-block;">
                                              <a href="project.html" class="sa-view-project-detail" data-action="#project-eight">
                                                  <figure class="more">
                                                  <img src="assets/images/p-8.jpg" alt="Screenshot 01">
                                                      <figcaption>
                                                          <div class="caption-content ">
                                                              <div class="single_image">
                                                                  <h2>Minimal Design</h2>
                                                                  <p>
                                                                  Work hard for what you want need lorem ipsuum. </p>
                                                              </div>
                                                          </div>
                                                      </figcaption>
                                                  </figure>
                                              </a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>

                              <!-- PROJECT DETAILS WILL BE LOADED HERE -->
                              <div class="sa-project-gallery-view" id="project-gallery-view"></div>
                              <div class="back-btn col s12">
                                  <a id="back-button" class="btn btn-info waves-effect" href="#"><i class="fa fa-long-arrow-left"></i> Go Back </a>
                              </div>
                          </div>
                      </div>


                      <!-- =======================================
                        footer Website
                      ==========================================-->
                      <div class="clear"></div>
                        {{> pages/footer }}
                  </div>
        </section><!-- end section -->

    </div> <!-- end row -->
</div>  <!-- end container -->
