<!-- Start Container-->
<div class="container">
    <!-- row -->
    <div class="row">
    <!-- =========================================
                   SIDEBAR
    ==========================================-->
        <!-- Start Sidebar -->
        <aside class="col l4 m12 s12 sidebar z-depth-1" id="sidebar">
            <!--  Sidebar row -->
            {{> pages/sidebar }}

        </aside><!-- end sidebar -->

        <!-- =========================================
           Work experiences
        ==========================================-->

        <section class="col s12 m12 l8 section">
          <div class="section-wrapper z-depth-1">
            <div class="section-icon col s12 m12 l2">
                <i class="fa fa-comments-o"></i>
            </div>
              <div class="col s12 m12 l10 wow fadeIn a1 animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                <h2>Thank You</h2>
                <div class="row">
                  <div class="col s6 m5 l6">
                    <p>Thank you for taking the time to contact me.</p>
                    <p>Expect that I will respond as quickly as possible.</p>
                  </div>
                  <div class="col s6 m5 l6">
                    <div class="card">
                       <div class="card-image">
                         <img src="images/638313452.jpg" alt="" class="feature-img">
                       </div>
                     </div>
                  </div>

                </div>

              </div>
           </div>
         <div class="clear"></div>
           {{> pages/footer }}
        </section><!-- end section -->

    </div> <!-- end row -->
</div>  <!-- end container -->
