<div class="section-wrapper z-depth-1 wow fadeIn animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
    <div class="col s12 m12 l10 website right">
        <div class="row">
          <div class="feature-img">
              <a href="https://www.heroku.com/"><img src="images/powered_by_heroku.png" class="responsive-img" alt=""></a>
              <a href="https://github.com/tribonieila"><img src="images/Square Grey/Github.png" width="32" height="32" class="responsive-img tooltipped" data-position="top" data-delay="70" data-tooltip="Github" alt=""></a>
              <a href="https://www.facebook.com/tribo.ni.eila"><img src="images/Square Grey/Facebook.png" width="32" height="32" class="responsive-img tooltipped" data-position="top" data-delay="70" data-tooltip="Facebook" alt=""></a>
              <a href="https://plus.google.com/u/0/+TriboEila"><img src="images/Square Grey/Google+.png" width="32" height="32" class="responsive-img tooltipped" data-position="top" data-delay="70" data-tooltip="Google+" alt=""></a>
              <a href="https://www.instagram.com/tribonieila/"><img src="images/Square Grey/Instagram.png" width="32" height="32" class="responsive-img tooltipped" data-position="top" data-delay="70" data-tooltip="Instagram"alt=""></a>
              <a href="https://twitter.com/TriboNiEila"><img src="images/Square Grey/Twitter.png" width="32" height="32" class="responsive-img tooltipped" data-position="top" data-delay="70" data-tooltip="Twitter" alt=""></a>
              <a href="https://www.linkedin.com/in/hilario-villar"><img src="images/Square Grey/Linkedin.png" width="32" height="32" class="responsive-img tooltipped" data-position="top" data-delay="70" data-tooltip="LinkedIn" alt=""></a>
          </div>
        </div>
    </div>
</div>
